body {
    background-color: rgba(245, 245, 245, 1);
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    align-items: center;
}
.header__navbar-list {
    padding-left: 0;
    list-style: none;
}

.header__navbar-item {
    margin: 0 8px;
    min-height: 20px;
    display: inline-block;
    margin: 10px;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr{
    display:block;
}

.header__navbar-item-link {
    display: inline-block;
    margin: 2px 5px 2px -6px;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none !important;
}

.header__navbar-item-link:hover,
.header__navbar-item:hover 
.header__navbar-navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    right: -8px;
    top:50%;
    transform: translateY(-50%);    
}

.header__navbar-navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px 0 2px;
}

.header__navbar-title-no-pointer {
    color: var(--white-color);
    cursor: text;
}
/* qr code */
.header__qr {
    background: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top:118%;
    padding-left: 10px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 3;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: calc( 100% + 35px);
    height: 20px;
    display: block;
    left: 0;
    top:-20px
}

.header__qr-img {
    width: 100%;
}

.header__qr-download-img:last-child {
    margin-right: 20px;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 14px;
}
/* header notification */
.header__notify {
    position: absolute;
    top: 146%;
    right: 5px;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    display: none;
    will-change: opacity, transform;
    z-index: 3;
    border-radius: 3px;
}

.header__notify::before {
    content: "";
    position: absolute;
    border-width: 0px 20px 17px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    right: 13px;
    top: -13px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    display: block;
    right: 0;
    top: -20px;
}

.header__navbar-item-has:hover .header__notify {
    display: block;
    transform-origin:calc(100% - 20px) top;
    animation: HeaderNotifyZoom ease-in 0.3s;
}

@keyframes HeaderNotifyZoom {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #888;
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0px;
}
.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none !important;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color:var(--text-color);
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}  
/* authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}
.auth-form__container {
    padding:2px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.5rem;
    font-weight: 450;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    height: 36px;
    width: 100%;
    margin-top: 16px;
    padding: 0px 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;    
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);

}
.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);

}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials--google-imgicon {
    height: 25px;
}

.auth-form__socials-title {
    margin: 0px 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 26px;
    border: 1px solid #EAEAEA;
    margin: -3px 12px;
}

.auth-form__help-link-forget {
    color: var(--primary-color);
}

/* header-with-search */
.header-with-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    fill: #fff;
}

.header__search {
    height: 41px;
    background-color: var(--white-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;    
    height: 100%;
    position: relative;
}

.header__search-options strong{
    padding-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #e8e8e8;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    line-height: 39px;
}
.header__search-options {
    position: relative;
    height: 39px;

}
.header__search-options:hover .header__search-options--list {
    display: block;
}
.header__search-options--list {
    background-color: var(--white-color);
    height: 70px;
    width: 155px;
    position: absolute;
    color: var(--text-color);
    border-radius: 2px;
    right: 4px;
    top: 45px;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);
    display: none;
    z-index: 3;
}
.header__search-options--list::before {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0px;
    top: -6px;
    cursor: pointer;
}

.header__search-options--list ul{
    list-style: none;
    padding: 3px 0 0 3px;
    margin-bottom: 0;
}

.header__search-options--list li{
    font-size: 1.2rem;
    padding-left: 4px;
}
.header__search-options--list i{
    color: var(--primary-color);
    margin-left: 12px;
}
.header__search-options--item {
    height: 30px;
    padding: 0;
}

.header__search-options--item:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.header__search-input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-btn {
    height: 36px;
    width: 60px;
    border: none;
    margin: 1px 3px 1px 0px;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}
.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.header-middle{
    flex: 1;
}

.header-middle--findlist {
    list-style: none;
    display: flex;
    padding: 0;
    height: 0;
}

.header-middle--findlist-item {
    margin: 0 10px 0 0;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1.2rem;
}

/* search history */
.header__search-input:focus ~ .header__search-input-history{
    display: block;
}

.header__search-input-history {
    position: absolute;
    background-color: var(--white-color);
    width: calc(100% - 16px);
    box-shadow: 0 1px 5px #c9c7c7;
    margin: 0;
    top: calc(100% + 2px);
    border-radius: 2px;
    overflow: hidden;
    display: none;
}

.header__search-input-history-heading {
    font-size: 1.5rem;
    display: block;
    color: #bebebe;
    margin: 10px 16px 0 16px;
}

.header__search-input-history-list {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

}

.header__search-input-history-item {
    cursor: pointer;
    height: 38px;
}

.header__search-input-history-item:hover {
    background-color: #f5f5f5;
}
.header__search-input-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 16px;
    line-height: 38px;
    display: block;
}

/* header__cart */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-wrap-notice {
    position: absolute;
    padding: 0 6px;
    color: var(--primary-color);
    font-size: 1.3rem;
    background-color: var(--white-color);
    line-height: 1.3rem;
    border-radius: 10px;
    top: -2px;
    left: 26px;
    border: 2px solid #EE4D2D;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
    animation: fadeIn ease-in .2s;
}

.header__cart-list {
    position: absolute;
    top:calc(100% + 6px);
    right: -5px;
    height: 167px;
    background-color: var(--white-color);
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
    display: none;
    cursor: default;
    padding: 24px 0;
}

.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 3px;
    top:-28px;
    border-width: 20px 20px 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart-img {
    width: 50%;
}
/* no cart */
.header__cart-list--no-cart-mgs {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 10px;
    color: var(--text-color);
}
/* have cart */
.header__cart-list-have-cart{
    padding:0;
    z-index: 3;
}
.header__cart-heading {
    color: #888;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin: 0  12px 12px 12px;
}

.header__cart-list-item {
    list-style: none;
    padding:0;
    margin: 0 12px;
}

.header__cart-item {
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
}

.header__cart-img {
    width: 48px;
    object-fit: contain;
    margin-right: 12px;
}

.header__cart-item-info {
    width: 322px;
    font-size: 1.2rem;
    justify-content: space-between;
    display: flex;
}
.header__cart-item-price {
    color: var(--primary-color);
}

.btn--primary {
    margin-left: 219px;
    margin-top: -4px;
    outline: none !;
}
/* container */

.content {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 28px;
    width: 100%;
}
/* menu mall */
.content__menu-mall {
    background-color: var(--white-color);
    height: 266px;
    width: 1140px;
    /* margin-left: 16px; */
    box-shadow: 0 -1px 4px 1px rgb(0 0 0 / 10%)
}
.content__menu-mall--head {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin: 30px 30px 0 0;

}
.content__menu-mall--head h2{
    color: var(--primary-color);
    font-size: 1.7rem;
    cursor: pointer;
}

.see-all {
    display: inline-block;
    display: flex;
    color: var(--primary-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.see-all i{
    margin-left: 4px;
    font-size: 2rem;
}

.content__menu-mall--item {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom:1px solid var(--border-color) ;
}

.content__logo--column {
    border-right: 1px solid var(--border-color);
}

.content__menu-mall--img {
    width: 100%;
    height: 101px;
}
/* menu salesman */
.content__menu-salesman {
    width: 1140px;
    height: 350px;
    margin:7px 0 0 0;
    background-color: var(--white-color);
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 10%)
}

.content__menu-salesman--head {
    color: rgba(0,0,0,.54);
    font-weight: 500;
    height: 44px;
    font-size: 1.6rem;
    margin: 20px 44px;
    line-height: 44px;
}

.content__menu-salesman--content {
    list-style: none;
    display: flex;
    padding: 0;
    margin:0 23px 0 36px;
}

.content__menu-salesman--content-card {
    border: 1px solid var(--border-color);
    width: 23%;
    margin: 0 9px;
}

.content__menu-salesman--content-link {
    width: 285px;
    text-decoration: none !important;
    height: 100%;
}

.content__menu-salesman--content-img {
    width: 183px;
    height: 183px;
    margin: 0px 13%;
}
.content__menu-salesman--content-info {
    text-decoration: none;
}

.content__menu-salesman--content-info h2{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}
.content__menu-salesman--content-info span{
    display: flex;
    justify-content: center;
    height: 30px;
}

.content__menu-salesman--content-info h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 30px;
    margin: 0;
}
.content__menu-salesman--content-info p {
    font-size: 1.5rem;
    color: var(--primary-color);
    line-height: 30px;
    margin:0 0 0 4px;
}
/* main content */
.main__content {
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
    display: flex;
}
/* left content (list category) */
.category {
    width: 190px;
    height: auto;
}

.category__list {
    list-style: none;
    padding: 1px;
    margin-bottom: 0;

}
.category__list-head {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}
.category__list-head a{
    color: var(--text-color);
    text-decoration: none !important;
    font-size: 1.6rem;
    font-weight: 600;
}
.category__list-head i{
    font-size: 1.6rem;
    margin-right:4px ;
}
.category__list-item {
    color: var(--text-color);
    margin: 10px 10px;
    font-size: 1.4rem;
    cursor: pointer;
}
.category__list-item--active {
    color: var(--primary-color);
}
.category__list-item--active i{
    margin-left: -7px;
    font-size: 1rem;
}
/* Filter */
.category__search-filter {
    padding: 1px;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
}
.search-filter-head p{
    text-decoration: none !important;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}
.search-filter-head i{
    margin-right:4px ;
    line-height: 32px;
    color: rgb(54, 54, 54);

}
.search-filter-item {
    color: var(--text-color);
    margin: 5px 0px;
    cursor: pointer;
    display: flex;
}

.search-filter-item p{
    font-size: 1.4rem;
    color: var(--text-color);
    word-wrap: break-word;
}
.search-filter-item strong{
    color: var(--text-color);
    margin-left: 12px;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 300;
}
.search-filter-item input{
    margin-right: 5px;
}
.search-filter-item i{
    color: var(--text-color);
    margin-left: 4px;
    font-size: 1.4rem;
    cursor: pointer;
}
/*  */
.search-filter-location {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);
}
.search-filter-transport {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);
}
.search-filter-brand {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);
}
.search-filter-PriceRange {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);
}
.search-filter-TypeOfShop {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);
}
.search-filter-status {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);
}
.search-filter-PaymentOption {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);    
}
.search-filter-reviews {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);    
}
.search-filter-PromotionServices {
    padding: 1px;
    border-bottom: 1px solid var(--border-color);    
}
.search-filter-ClearAll {
    padding: 1px;
}
/* PriceRange */
.search-filter-PriceRange-btn {
    display: flex;
    align-items: center;
    cursor: default !important;
    border-radius: 2px;
}
.search-filter-PriceRange-btn input{
    width: 80px;
    border: 1px solid #bdbdbd;
    height: 30px;
    outline: none;
    margin: 0;
}
.filter-range--line {    
    width: 12px;
    height: 1px;
    background-color: #bdbdbd;
    margin: 0 8px;
}
.search-filter-item button{
    width: 100%;
    height: 30px;
    background-color: var(--primary-color);
    border: none;
}
/* review */
.filter__star-icon i{
    color: #ffce3d;
}
.star__none {
    color: rgb(206, 206, 206) !important;
}
/* right content */
.main__content-Product {
    width: 100%;
    flex: 1;
    height: 100%;
}
/* head */
.main__content-Product--head {
    height: 60px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    background-color: rgba(0,0,0,.03);
}

.main__content-Product--head span{
    color: var(--text-color);
    line-height: 60px;
    font-size: 1.4rem;
}
.main__content-Product--head-option {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.Product--head-option--btn {
    cursor: pointer;
    width: 90px;
    height: 30px;
    font-size: 1.4rem;
    line-height: 30px;
    background-color: var(--white-color);
    margin: 0 5px;
    text-align: center;
}
.Product--head-option--price-select i{
    line-height: 30px;
    color: #999;
    font-size: 2rem;
}
.Product--head-option--price-select {
    width: 178px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    border-radius: 2px;
    margin-left: 5px;
    cursor: pointer ;
    position: relative;
}
.Product--head-option--price--dropdown{
    position: absolute;
    width: 178px;
    border-radius: 2px;
    padding: 4px 10px;
    color: var(--text-color);
    height: 62px;
    background-color: #fff;
    right: 0;
    top: 30px;
    display:none;
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 10%);
}
.Product--head-option--price--dropdown p{
    margin: 0;
}

.Product--head-option--price-select:hover .Product--head-option--price--dropdown{
    display: block;
    animation: fadeIn .3s ease;
}
.main__content-Product--head--MiniController {
    display: flex;
    width: 128px;
    align-items: center;
    justify-content: space-between;
}
.main__content-Product--head--MiniController button{
    width: 36px;
    border: none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    height: 34px;
    margin: 0 -1px;
    background-color: #fff;
    border-radius: 2px;
}

/* bottom */
.main__content-Product--bottom {
    width: 100%;
    height: auto;
}

.main__content-Product--list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    display: flex;
}
.main__content-Product--item {
    cursor: pointer;
    background-color: var(--white-color);
    align-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);
    margin: 4px 0 4px 6px;
    width: 183px;
    border-radius: 2px;
}
.main__content-Product--img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}
.main__content-Product-title {
    height: 14px;
    font-size: 1.3rem;
    font-weight: 600;
}
.main__content-Product--info {
    align-content: space-between;
    height: auto;
}
.main__content-Product--promotion {
    width: 68px;
    height: 16px;
    color: rgb(255, 0, 32);
    border: 1px solid rgb(255, 0, 32);
    padding: 0 3px;
}
/*  */
.main__content-Product--price {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    text-align: center;
    margin: 6px 4px 0 4px;
    height: 20px;
}
.main__content-Product--price p{
    color: var(--primary-color);
    margin-left: 4px;
}
.main__content-Product--price svg{
    margin-top: 5px;
}
.main__content-Product--price div{
    display: flex;
}
/*  */
.main__content-Product--ReviewSold {
    margin: 6px 4px 0 4px;
    display: flex;
    font-size: 1.2rem;
    height: 20px;
}
.main__content-Product--ReviewSold div{
    display: flex;
    padding-left: 14px;
}
.main__content-Product--ReviewSold p{
    font-size: 1.2rem;
}
.main__content-Product--ReviewSold i{
    font-size: 1rem;
}
.main__content-Product--ReviewSold strong{
    color: #ffce3d;    
}
/*  */
.main__content-Product--location {
    width: 100%;
    height: 16px;
}
.main__content-Product--location p{
    margin: 0 4px 0 0;
    text-align: end;
}

/* bottom contro */
.main__content-Product--bottom-controller {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.Product--bottom-controller-item {
    margin:0 .75rem;
    border-radius: 2px;
}
.Product--bottom-controller-item button{
    color: rgba(0,0,0,.4);
    width: 40px;
    font-size: 2rem;
    height: 30px;
    border: none;
    background-color: transparent;
}

/* footer */
.footer {
    border-top: 4px solid #ee4d2d;
    background-color: #fff;
    color: rgba(0,0,0,.54);
    width: 100%;
    height: auto;
}
/* head */
.footer__content-head {
    color: var(--text-color);
    font-size: 1.4rem;
}
.footer__content-head u{
    cursor: pointer;
}
.footer__content-head h3{
    font-size: 1.6rem;
    font-weight: 700;
}
.footer__content-head button{
    color: var(--primary-color);
    font-size: 1.4rem;
    padding: 0 4px 3px 0;
    border: none;
    background-color: transparent;
    display: flex;
    margin: 20px 0;
}
.footer__content-head p{
    margin: 0 6px 0 0;
}
.footer__content-head i{
    font-size: 2rem;
}
/* middle */
.footer__content-middle {
    background-color: #fbfbfb;
    margin-top: 30px;
}
.footer__content-middle--info-top {
    display: flex;
    border-top: 1px solid rgba(0,0,0,.1);
}
.footer__content-middle--info-top h1{
    color: rgba(0,0,0,.54);
    font-weight: 600;
    font-size: 1.5rem;
}

.footer__content-middle--info-top a:hover{
    color: var(--primary-color);
}
.footer__content-middle--info-top li{
    margin: 5px 0;
    font-size: 1.4rem;
}
.footer__content-middle--info-top a{
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

/* CustomerCare */
.footer__content-middle--info-CustomerCare {
    width: 240px;   
    height: 288px;
    list-style: none;
    padding: 0;
}
/* ShopeeInfo */
.footer__content-middle--info-ShopeeInfo {
    width: 240px;   
    height: 288px;
    list-style: none;
    padding: 0;
}

/* follow */
.footer__content-middle--info-follow {
    width: 240px;   
    height: 288px;
    list-style: none;
    padding: 0;
}
.footer__content-middle--info-follow i{
    font-size: 2rem;
    color: var(--text-color) !important;
    margin-right: 6px;
}

/* payment & transport */
.footer__content-middle--info-payment {
    width: 240px; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.footer__content-middle--info-payment li{
    margin: 0 8px 14px 0;    
    width: 55px; 
    height: 29px;
}
.footer__content-middle--info-payment img{
    width: 55px; 
    height: 29px;
}
/*  */
.footer__content-middle--info-transport {
    width: 240px; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.footer__content-middle--info-transport li{
    margin: 0 8px 14px 0;    
    width: 55px; 
    height: 29px;
}
.footer__content-middle--info-transport img{
    width: 55px; 
    height: 29px;
}
/*  */
.footer__content-middle--info-DownloadShopee span{
    display: flex;
}
.footer__content-middle--info-DownloadShopee {
    width: 240px;   
    height: 288px;
    list-style: none;
    padding: 0;
}
.DownloadShopeeIn {
    justify-content: space-between;
    padding:4px 0;
}
.DownloadShopeeIn img{
    width: 80px;
    height: 20px;
}




